include _variables.pug

mixin iconEmail(address)
  a.email(href="mailto:"+address)
    svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32")
      path(d="M1.4 6.1v20.8h29.8V6.1H1.4zm26 1.5L16.3 18.3 5.1 7.6h22.3zm2.3 17.8H2.9V7.6H3l13.3 12.7L29.6 7.6h.1v17.8z")

mixin iconFacebook(url)
  a.facebook(href=url)
    svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32")
      path(d="M0 0v32h19.2V21.4h-3.9v-4.5h3.9v-3.3c0-3.9 2.4-6 5.8-6 1.7 0 3.1.1 3.5.2v4h-2.4c-1.9 0-2.2.9-2.2 2.2v2.9h4.5l-.6 4.5h-3.9V32H32V0H0z")

mixin iconTwitter(url)
  a.twitter(href=url)
    svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32")
      path(d="M.8 25.2c2.7 1.8 6 2.8 9.5 2.8 11.5 0 18-9.7 17.6-18.4 1.2-.9 2.3-2 3.1-3.2-1.1.5-2.3.8-3.6 1 1.3-.8 2.3-2 2.7-3.4-1.2.7-2.5 1.2-3.9 1.5-1.1-1.2-2.7-2-4.5-2-4 0-6.9 3.7-6 7.6-5.2-.3-9.7-2.7-12.8-6.5C1.3 7.4 2 11 4.8 12.8c-1 0-2-.3-2.8-.8-.1 2.9 2 5.6 5 6.2-.9.2-1.8.3-2.8.1.8 2.5 3.1 4.3 5.8 4.3-2.7 2.1-5.9 3-9.2 2.6z")

mixin address(location)
  address
    a(href=location.map)
      span.street-address= location.streetAddress
      br
      span.city= location.city
      | , 
      span.state= location.state
      | 
      span.zip= location.zip

mixin phone(location)
  .phone
    a.tel(href="tel:"+location.phone)
      | #{location.phone}

mixin location(name,url,image,map,phone)
  .location
    figure(style="background-image:url(img/fpo/"+image+")")
      a(href=url)
    figcaption
      .inner
        a.name(class=name.toLowerCase() href=url)= name
        address
          a.map(href=map)
            block
        .phone-and-social
          .phone
            a.tel(href="tel:"+phone)= phone
          .social
            +iconEmail
            +iconFacebook
            +iconTwitter

mixin footerLocation(location)
  .location
    .name
      a(href=location.url)= location.title
    address
      a(href=location.map)
        span= location.streetAddress
        br
        span #{location.city}, #{location.state} #{location.zip}
    .phone
      a.tel(href=location.phone)= phone
    .social
      +iconEmail(location.email)
      +iconFacebook(location.facebook)
      +iconTwitter(location.twitter)

mixin tap(name,brewery,style,price,pour)
  .tap
    .content
      if name
        .name= name
      if brewery
        .brewery= brewery
      if style
        .style= style
      if price && pour
        .price #{price} for #{pour}
      else if price
        .price #{price}

mixin day(name)
  .day
    .inner
      .title= name
      .items
        block

mixin menuItem(name,price)
  .menu-item
    .name= name
    if price
      .price $#{price.toFixed(2)}
    else
      .price
    if block
      .desc
        block

mixin booze(booze)
  .menu-item
    .name= booze
    if block
      ul.options
        block